.font-md{
    font-size: 15px;
}

.mb-sm{
    margin-bottom: 5px;
}

.header{
    @extend .mb-sm;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    &__inner{
        padding: 6px 10px 5px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .logo{
            height: 50px;
            width: 150px;
            &__img{
                max-width: 100%;
            }
        }

        & .top-menu{
            display: none;
            & > ul{
                @extend .font-md;
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;
                
                & > li{
                    margin-right: 10px;

                    & > a{
                        text-decoration: none !important;
                    }
                }
            }
        }
    }
}