.btn-fill{
    height: 40px;
    width: 100px;
    background-color: $cWhite;
    border: 2px solid $cBlack;
    color: $cBlack;
    font-weight: 600;

    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);

    transition: all 0.5s ease;

    &:hover{
        background-color: $cBlack;
        color: $cWhite;
    }
}

.btn-fill.btn-success {
    border-color: #26c526;
    color: #26c526;

    &:hover{
        background-color: #26c526;
        color: #cdf7cd;
    }
}

.btn-fill.btn-done {
    border-color: #2929c3;
    color: #2929c3;

    &:hover{
        background-color: #9494eb;
        color: blue;
    }
}