.nav-area {
    position: relative;
}

.nav-menu {
    margin-right: 12px;
    width: 26px;
    height: 20px;
    // background-color: black;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    cursor: pointer;
    position: relative;

    &>span {
        width: 100%;
        height: 2px;
        display: block;
        background-color: #c1beb8;
    }
}

.nav-open {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-color: white;

    &>ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}