.error-title{
    font-size: 60px;
    margin: 40px 0;
}

.error-string{
    font-size: 20px;
}

.content-width{
    max-width: 1200px;
    width: 90%;
    margin: 30px auto;
}

.error-content{

    &__time{
        font-size: 30px;
    }

}