.mb-lg {
    margin-bottom: 35px;
}

.custom-form {
    &__num {
        width: auto;
    }

    &__up {
        width: 100%;
        margin-left: 10px;

        & .custom-form__item{
            & > label{
                width: 150px;
            }
        }
    }

    /***/
    & .form-block {

        position: relative;

        width: auto;
        max-width: 480px;
        margin-left: 10px;
        padding: 15px;
        border: 2px solid rgba(31, 55, 143, 0.5);

        margin-bottom: 30px;

    }

    &__label {
        width: 120px;
    }

    &__input {
        width: auto;

        &.date-time {
            width: auto;
        }
    }

    &__tag {
        position: absolute;
        top: -13px;
        left: -11px;
        width: 200px;
        border-radius: 20px;
    }

    & .tag__inner {
        margin-left: 20px;
    }
}


.btn-zone {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .custom-form__label,
    & .custom-form__item {
        margin-bottom: 0px;
    }

    & .custom-form__item{
        & .custom-form__label{
            width: 120px;
        }
        & > select{
            width: auto;
        }
    }

    &.mail {
        justify-content: end;
    }

    &__btn {
        padding: 4px 8px;

        &>span {
            margin-right: 5px;
        }
    }

}

.form-area {
    & .custom-form__item {
        margin-bottom: 12px;
    }

    & .btn-zone{
        & .custom-form__item{
            margin-bottom: 0px;
        }
    }
}

.form-background{
    &.view{
    
        & .f-b-container{
            width: 75%;
            padding: 20px;
            border-top-left-radius: 20%;
            border-bottom-right-radius: 20%;

            &__content{
                padding: 10px;
            }

            &__item{
                
                margin-bottom: 10px;
    
                & > input{
                    height: auto;
                    width: 120px;
                    margin-right: 15px;
                } 
            }
        }

        & .close-icon {
            top: -5px;
            left: -20px;
            width: 36px;
            height: 36px;

            &>div {
                width: 80%;
                top: 45%;
            }
        }
    }
}

.add-btn-area{
    margin-bottom: 20px;
    margin-left: 10px;
}

.create-btn-area{
    margin-left: 10px;
    & > input{
        margin-right: 20px;
    }
}

.btn-fill{
    width: 120px;
    height: 50px;
}